/* .dropdown_content{
    display: none; */

/* } */
.Dropdown{
 cursor: pointer;
    /* width: ; */
}
.dropdown_name:hover{
    color:  var(--primary-color)
}
.dropdown_content{
    position: absolute;
    z-index: 1;
    background-color: var(--sidebar-color);
    width: 90%;
    height: 440px;
    /* left: 22.5px; */
    right: 10px;
    padding: px;
    /* box-shadow: 2px 2px black; */
    margin-top: 5px;
    /* border: 1px solid black; */
    /* overflow-y: scroll; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: var(--trans-03);
}
.workspace{
    height: fit-content;
}

.Workspace .dropdown_header{
    margin-top: 10px;
    /* align-self: center; */
/* justify-content: space-between; */
    /* display: grid; */
    padding: 10px;
    border-bottom: groove 1px  var(--body-color) ;
    width: 90%;
    /* border-style: groove; */
}



.Workspace li {
        height: 30px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 5px;
        /* border: 1px solid black; */
        padding: 10px;
        /* margin-right: 20px !important; */
        
    }
    .Workspace li a{
        color: var(--text-color);
        justify-content: left;
        padding-left: 0 !important;

    }

    .Workspace li:hover{
        background-color: var(--primary-color);
    }
    
/* Style the scrollbar track */
.dropdown_content::-webkit-scrollbar-track {
	background-color: var(--scroll-bg);
    

}

.dropdown_content::-webkit-scrollbar {
	width: 8px;
	background-color: var(--scroll-bg);
	border-radius: 100px;
}

/* Style the scrollbar thumb */
.dropdown_content::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar);
	/* border-radius: 100px; */
}

/* Style the scrollbar thumb on hover */
.dropdown_content::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}