*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	/* ===== Colors ===== */
	--body-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: #2d6a4f;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #474747;
	--text-light: #bbbbbb;
	--text-light2: #7e7e7e;
	--text-default: #000000; 
	--scroll-bg: transparent;
	--scroll-bar: #9f9f9f;
    --task-bg: #fff;
    --time-bg: #eef0f0;
	--invert-default: invert(0);
 
	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;
}

body.dark {
	--sidebar-color: #141415;
	--body-color: #141415;
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #f5f5f5;
	--text-light: #676767;
	--text-light2: #989898;
	--text-default: #ffffff;
	--scroll-bg: transparent;
	--scroll-bar: #3a3b3c;
    --task-bg: #2c2c2c;
    --time-bg: #4b4b4b;
	--invert-default: invert(1);

}

.container{
    background-color: var(--task-bg);
    padding: 10px;
    /* display: flex; */
    margin: 50px auto;
    width: 230px;
    color: var(--text-color);
    border-radius: 7px;
    border: .5px solid transparent;
}

.container:hover{
    border: .5px solid var(--scroll-bar);
   
}
.container:hover .none{
    display: block;
}
.none{
    display: none;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
.none:hover{
    color: var(--text-default);
}

.title{
    display: flex;
    justify-content: space-between;
}

.iconsCont{
    display: flex;
    gap: 8px;
}

.time{
    font-size: smaller;
    padding: 2px;
    border-radius: 2px;
    background-color: var(--time-bg);
}

.lowerCont{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.ash{
    color: rgb(245, 170, 31);
}

.tick-icon{
    height: 23px;
    width: 23px;
}
.tick-icon:hover{
    color: #2d6a4f;
}

.darkBg{
    background-color: rgba(216, 213, 213, 0.651);
    width: 100vw;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .centered {
    display: flex;
    justify-content: center;
    background-color: var(--sidebar-color);
    width: 610px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 0;
  }

  .modal{
    width: 550px;
    padding: 20px;
  }

.icon-row{
    display: flex;
    justify-content: space-between;
}

.categ{
    display: flex;
    gap: 15px;
}

.options{
    display: flex;
    gap: 20px;
}

.popup-content {
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    line-height: 12px;
  }

.start{
    margin-top: -10px;
    font-size: 13px;
}

.delete{
    margin-top: -2px;
    color: var(--text-light2);
    font-size: 13px;
}

.due{
    font-size: 13px;
    color: var(--text-light2);
}

.closer{
    width: 20px;
    height: 20px;
    margin-top: -2px;
    color: var(--text-light2);
}


















@media screen and (max-width: 700px){
        .centered{
            margin-top: 0;
            border-radius: 0;
            height: 100vh;
        }
  } 


  