.aos-component{
    display: flex;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 250px;
    margin-bottom: -100px;
    overflow: hidden;
}

.text-container{
    width: 100%;
}

.text-container h2{
    font-size: 60px;
    line-height: 60px;
    margin-top: 20%;
}

.text-container p{
    margin-top: 50px;
    font-size: 20px;
}

.pic{
    width: 100%;
    height: 90%;
}

.pic:hover{
    transform: rotate(-10deg);   
}

.three img{
    height: fit-content;
    width: 300px;
    box-shadow: 5px 5px 10px 5px rgb(104, 114, 104);
}

.three img:hover{
    transform: rotate(10deg);
}

@media screen and (max-width:1000px){
    .aos-component{
        display: flex;
        margin-top: 400px;
        align-items: center;
        width: 100%;
        padding: 80px;
    }
    .text-container h2{
        font-size: 60px;
        line-height: 60px;
        margin-top: -20%;
    }
    .three img{
        width: 200px;
        margin-top: -80px;
    }
   .one{
        width: 60%;
    }
    .two{
        width: 40%;
    } 
}

@media screen and (max-width: 830px){
    #features{
        margin-top: -300px;
    }

    .nav-links-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        justify-content: space-between;
      }

    .mobileSpline{
        display: block;
    z-index: 0;
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;
    margin-top: 150px;
    margin-right: -20%;
    }

    .aos-component{
        display: flex;
        justify-content: space-between !important;
        /* padding-l: 20px !important; */
    }
    
    .text-container h2{
        font-weight: 100 !important;
        margin-top: 0px !important;
        font-size: 50px !important;
    }
    .one{
        width: 40%;
    }
    .two{
        width: 60%;
    }
}

@media screen and (max-width: 780px) {
   .aos-component{
        display: flex;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        width: 100%;
        gap: 40%;
        margin-bottom: -100px;
        overflow: hidden;
        /* justify-content: space-between !important; */

    }
    
}

@media screen and (max-width: 765px) {
    .aos-component{
        display: flex;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        width: 100%;
        gap: 30%;
        margin-bottom: -100px;
        overflow: hidden;
        /* justify-content: space-between !important; */
    }
    .featureTitle{
        margin-bottom: -390px !important;
    }
}

@media screen and (max-width: 710px) {
    .aos-component{
        display: flex;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        width: 100%;
        gap: 20%;
        margin-bottom: -100px;
        overflow: hidden;
        /* justify-content: space-between !important; */
    }
}

@media screen and (max-width: 610px) {
    .aos-component{
        display: flex;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        width: 100%;
        gap: 20%;
        margin-bottom: -100px;
        overflow: hidden;
    }
    .text-container h2{
        font-weight: 500 !important;
        line-height: 40px;
        font-size: 40px !important;
    }
}

@media screen and (max-width: 510px) {
        .aos-component{
            display: flex;
            padding: 5%;
            padding-left: 2%;
            padding-right: 2%;
            align-items: center;
            width: 100%;
            gap: 25%;
            margin-bottom: -100px;
            overflow: hidden;
        }
        .text-container h2{
            font-weight: 500 !important;
            line-height: 35px;
            font-size: 27px !important;
        }
        .text-container p{
            font-size: 15px !important;
            margin-top: 30px;
        }
        .advert p{
            text-align: center;
            margin-left: 70px !important;
        }
    }
    

@media screen and (max-width: 400px) {
    .aos-component{
        display: flex;
        /* padding: 5%; */
        padding-right: 2%;
        padding-left: .5% !important;
        align-items: center;
        width: 100%;
        gap: 80px;
        margin-bottom: -100px;
        overflow: hidden;
    }
    .text-container h2{
        font-weight: 500 !important;
        line-height: 35px;
        font-size: 27px !important;
    }
    .text-container p{
        font-size: 15px !important;
        margin-top: 30px;
    }
    .advert p{
        text-align: center;
        margin-left: 70px !important;
    }
    .aos-component img{
        width: 140px;
    }      
}






