@import 'aos/dist/aos.css';
/* src/LandingPage/landingPage.css */
@import 'aos/dist/aos.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #eaf8f2;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white; /* Solid white background */
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }

  .logo{
    margin-left: 55px;
    display: flex;
    gap: 10px;
  }

  .logo img{
    height: 30px;
    width: 30px;
  }
  
  .logo h1 {
    color: #077c12;
    margin: 0;
  }
  
  .nav-links-container {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    position: relative;
    color: #109e1f;
    text-decoration: none;
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
    transition: color 0.3s ease;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #109e1f;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links li a:hover::after,
  .nav-links li a.active::after {
    visibility: visible;
    width: 100%;
  }
  
  .nav-links li a:hover,
  .nav-links li a.active {
    color: #087d19;
  }
  
  .nav-buttons {
    display: flex;
    gap: 1rem;
    margin-left: 2rem; /* Add space between links and buttons */
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .mobile-menu-icon {
    display: none;
    font-size: 2rem;
    color: #109e1f;
    background: none;
    border: none;
  }
  
  .nav-button, .ad-button {
    border: 1px solid #109e1f;
    color: white;
    background: #109e1f;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .nav-button:hover, .ad-button:hover {
    color: #109e1f;
    background: white;
  }

  .ad-container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advert{
    padding-top: 10%;
    text-align: center;
    margin-bottom: 2%;
    
  }

  .advert h1{
    color: rgb(0, 20, 1);
    font-size: 85px;
    line-height: 102%;
  }

  .advert p{
    font-size: 120%;
    font-weight: 500;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    color: rgb(49, 58, 52);
  }

  .spline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3A4d3c;
    padding-left: 25%;
  }

  .landingPage{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /* Hide scrollbar for WebKit browsers (like Chrome, Safari) */
.landingPage::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;
  background: transparent;
  display: none; /* This might not be necessary, but it doesn't hurt to include it */
}

/* Hide scrollbar for Firefox */
.landingPage {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

  .review{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  
  .mobileSpline{
    display: none;

  }

  [data-aos] {
    opacity: 0;
    transition-property: opacity, transform;
  }
  
  [data-aos].aos-animate {
    opacity: 1;
    transform: none;
  }
  
  [data-aos][data-aos-easing="ease-in-out"] {
    transition-timing-function: ease-in-out;
  }
  
  [data-aos][data-aos-duration="1000"] {
    transition-duration: 1000ms;
  }

  .about{
    margin-top: 300px;
    background: rgba(71, 230, 71, 0.322);
    box-shadow: 5px 5px 10px 5px  rgba(88, 133, 88, 0.541);
    padding: 30px 0;
    padding-bottom: 120px;
    height: fit-content;
    width: 100%;
  }

  .about .title{
    margin-bottom: -50px !important;
  }

  .section .title{
    padding: 5%;
    margin-bottom: -90px;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .title h3 {
    color: var(--primary-color);
    font-size: x-large;
  }

  .title .divider{
    background-color: var(--primary-color);
    height: 5px;
    width: 100%;
  }

  .urging{
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .urging h2{
    font-size: 2.5rem;
    /* text-align: center; */
  }

  .urging button{
    margin: 20px;
    padding: 20px 40px;
    border-radius: 30px;
  }

  #contact{
    background: #535f52;
    height: fit-content;
  }

  #contact .title{
    margin-top: -40px;
    margin-bottom: -3%;
  }

  @media screen and (max-width: 1200px) {
    .spliner{
      display: none;
    }
    .logo{
      margin-left: 0;
    }
  }

  @media screen and (max-width: 868px) {
    body{
        width: 100%;
    }

    .nav-links-container {
      display: none;
    }

    .featureTitle{
      margin-top: 100px;
      margin-bottom: -400px !important;
    }

    .logo{
      margin-left: 0px !important;
    }
  
    .nav-links-mobile {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: space-around !important;
      position: absolute;
      top: 70px;
      left: 0;
      width: 80%;
      padding: 1rem;
    }
  
    .nav-links-mobile li {
      margin-bottom: 1rem;
    }
  
    .nav-buttons {
      /* flex-direction: column; */
      margin-left: 0;
    }
  
    .mobile-menu-icon {
      display: block;
    }

    .ad-container{
        display: block;
    }

    .advert{
        width: 100%;
    }

    .advert h1{
        text-align: center;
        font-size: 80px;
    }
    .urging{
      margin-bottom: 70px;
    }
  }

  /* src/LandingPage/landingPage.css */
@media screen and (max-width: 500px) {
body{
    width: 100%;
    overflow-x: hidden;
}
  .about .title{
    margin-bottom: 50px !important;
  }
  .featureTitle{
    margin-top: 250px !important;
    margin-bottom: -90px !important;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-around !important;
    position: absolute;
    top: 70px;
    left: 0;
    width: 80%;
    padding: 1rem;
  }
  .advert p{
    text-align: center;
    margin-left: 0px !important;
  }
  .advert h1{
    font-size: 55px;
  }
}
  
  @media screen and (max-width: 400px) {
.advert p{
  text-align: center;
  margin-left: 0px !important;
}

  }
  