.category{
    padding-top: 5px;
}

.category-name a{
    /* margin-left: 30px; */
    /* padding: 10px 0; */
    cursor: pointer;
    color: var(--text-color)
}

.nav-text{
    color: var(--text-color)
}

.category-option-list{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 0.5rem;
}

.category-option-list span{
    color: var(--text-color);
}

.category-option-list:hover{
    background-color: var(--scroll-bar);
}

.category-option-list i.bx{
    font-size: 1rem !important;
    /* color: var(--text-color); */
}