.dailyList {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    gap: 10px;
}

.dailyTaskList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dailyList-task{
    display: flex;
    flex-direction: column;
    gap: 8px
}

.add {
    padding: 5px;
    background-color: var(--task-bg);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.time {
    font-size: smaller;
    padding: 2px;
    border-radius: 2px;
    background-color: var(--time-bg);
}

.content{
    /* margin-top: 100px;
    height: fit-content;
    border-radius: 5px;
    width: 730px; */
}

.popup-content {
    margin-top: 50px;
    box-shadow:  0 10px 50px rgba(12, 12, 12, 0.452);
    background-color: var(--task-bg);
    width: fit-content;
}

.iconRow {
    display: flex;
    justify-content: space-between;
}

textArea {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

textarea:focus {
    border: 1px solid var(--task-bg);
}

.iconRow .date {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: none;
    outline: none;
}

.dailyTaskList-date .dailyList-date{
    color: var(--text-light3);
}

.dailyTaskList-date h2{
    color: var(--text-color)
}