.dailyList {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    gap: 10px;
}

.dailyTaskList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dailyList-task{
    display: flex;
    flex-direction: column;
    gap: 8px
}

.add {
    padding: 5px;
    background-color: var(--task-bg);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.time {
    font-size: smaller;
    padding: 2px;
    border-radius: 2px;
    background-color: var(--time-bg);
}

.content{
    /* margin-top: 100px;
    height: fit-content;
    border-radius: 5px;
    width: 730px; */
}

.popup-content {
    margin-top: 50px;
    box-shadow:  0px 10px 70px rgba(12, 12, 12, 0.664);
    background-color: var(--task-bg);
    width: fit-content;
    height: 160px;
}

.iconRow {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

textArea {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

textarea:focus {
    border: 1px solid var(--task-bg);
}

.iconRow .date {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: none;
    width: 100px;
    outline: none;
}

.rightIcons{
    display: flex;
    gap: 5px;
}

.clockII{
    width: 20px;
    height: 30px;
}

.select{
    display: flex;
    gap: 5px;
}

.select select{
    border: none;
    appearance: none;
    outline: none;
    width: 50px;
    background-color: transparent;
}

.select select option{
    padding: 30px;
    text-align: center;
    width: 50px;
}


.addButton{
    background-color: var(--primary-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.select .hash{
    margin-top: 10px;
    color: orange;
    margin-right: -5px;
}







