.dailyList {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 15px;
}

.dailyTaskList{
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dailyList-task{
    display: flex;
    flex-direction: column;
    gap: 8px
}

.time {
    font-size: smaller;
    padding: 2px;
    border-radius: 2px;
    background-color: var(--time-bg);
}


.dailyTaskList-date h2{
    color: var(--text-color)
}

.dailyTaskList-date p{
    color: var(--text-light3);
}

/* Style the scrollbar track */
.dayList::-webkit-scrollbar-track {
	background-color: var(--scroll-bg);
}

/* Style the scrollbar itself */
.dayList::-webkit-scrollbar {
	height: 8px;
	background-color: var(--scroll-bg);
	/* border-radius: 100px; */
}

/* Style the scrollbar thumb */
.dayList::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar);
	/* border-radius: 100px; */
}

/* Style the scrollbar thumb on hover */
.dayList::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
.clockII{
    width: 20px;
    height: 30px;
}

/* dailyList.css */
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}







