@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
.main-form button,
p {
  font-family: "Poppins", sans-serif;
}

button,
input[type=submit],
.button {
  cursor: pointer;
}

.main-form button {
  width: 100%;
  border-radius: 200px;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 0.9rem 1.2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main-form button img {
  width: 18px;
}

.main-form button p {
  font-size: 1rem;
}

.form-container {
  display: flex;
  height: 100vh;
  gap: 1px;
  background: #f0fff1;
}


.form {
  width: 100%;
  background: #f0fff1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.input-fields input[type=text],
input[type=password],
input[type=email],
input[type=date] {
  width: 100%;
  border-radius: 200px;
  color: black;
  padding: 0.9rem 1.2rem;
  border: 1px solid var(--primary-color);
}

.input-fields input[type=submit],
.input-fields button {
  width: 100%;
  border-radius: 200px;
  background-color: var(--primary-color);
  padding: 0.9rem 1.2rem;
  color: white;
  border: none;
}

.input {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.option hr {
  height: 1px;
  width: 20%;
  border: none;
  background-color: grey;
}

.google-button div:nth-child(1){
  
}

.have-acct {
  display: flex;
  align-items: center;
  gap: 5px;
}

.have-acct button {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1rem;
}

.slider-container {
  /* opacity: .3; */
  /* height: 100vh; */
  width: 50%;
  /* position: absolute; */
  transition: 0.3s ease;
  z-index: 100;
}

.slider-container.right {
  /* transform: translateX(100%); */
}

.slider-container.left {
  transform: translateX(0%);
}

.anime-slider {
  background-color: #2d6a4f;
  height: 100vh;
  width: 50%;
  position: absolute;
  transition: 0.3s ease;
  z-index: 10;
}

.anime-slider.anime-right {
  transform: translateX(100%);
}

.anime-slider.anime-left {
  transform: translateX(0%);
}

.hide {
  background: #2d6a4f !important;
  color: #2d6a4f !important;
}

/* Google */

.nsm7Bb-HzV7m-LgbsSe {
  border-radius: 200px !important;
}


@media (max-width: 1000px) {

  .anime-slider,
  .slider-container {
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-content {
    background: white;
    max-width: 600px;
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: -2px 3px 14px #8080801f;
  }

  @media (max-width: 630px) {
    .form{
      padding: 0 2rem;
    }
  }

  @media (max-width: 495px) {
    .form{
      padding: 0 0.5rem;
    }

    .form-content {
      padding: 2rem;
    }
  }

  @media (max-width: 395px) {
    .form-content {
      padding: 1.5rem 1rem;
      gap: 1rem;
    }

    .have-acct {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}