.task-container{
    position: relative;
}

.container {
    background-color: var(--task-bg);
    padding: 13px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    /* margin: 8px auto; */
    box-shadow: 0 2px 5px rgba(68, 67, 67, 0.452);
    /* width: 230px; */
    color: var(--text-color);
    border-radius: 7px;
    border: .5px solid transparent;
}

.container:hover {
    border: .5px solid var(--scroll-bar);

}

.container:hover .none {
    display: block;
}

.none {
    display: none;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.none:hover {
    color: var(--text-default);
}

.title {
    display: flex;
    justify-content: space-between;
}

.iconsCont {
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding: 0.5rem 0.8rem;
}

.iconsCont i{
    font-size: 1.1rem;
    color: var(--icon-color);
}

.time {
    font-size: smaller;
    padding: 2px;
    border-radius: 2px;
    background-color: var(--time-bg);
}

.lowerCont {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ash {
    color: rgb(245, 170, 31);
}

.tick-icon {
    height: 23px;
    width: 23px;
}

.tick-icon:hover {
    color: #2d6a4f;
}

.darkBg{
    background-color: rgba(216, 213, 213, 0.651);
    width: 100vw;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered{
    display: flex;
    justify-content: center;
    background-color: var(--sidebar-color);
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 0;
    height: fit-content;
}

.modalI{
    width: 100%;
    padding: 20px;
    color: var(--text-default);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalI .icon-line{
    display: flex;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.icon-line .categoryI{
    display: flex;
    gap: 10px;
}

.icon-line .option {
    display: flex;
    gap: 1.2rem;
}

/* .popup-content {
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    line-height: 12px;
} */

.popup-content .option .calendar{
    margin-top: -10px;
    font-size: 13px;
    color: var(--text-default);
    display: flex;
    width: 120px;    
    overflow: hidden;
}

.delete {
    margin-top: -15px;
    color: var(--text-light2);
    font-size: 13px;
}

.option .due{
    font-size: 13px;
    margin-top: -10px;
    color: var(--text-light2);
    width: 90px;
    overflow: hidden;
    display: flex;
}

.closer {
    width: 20px;
    height: 20px;
    margin-top: -15px;
    margin-left: 15px;
    color: var(--text-light2);
}

.date{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 60px;
    padding-left: 2px;
    margin-top: -3px;
    background-color: transparent;
}

.edit-task-modal .taskArea{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskArea .planRow{
    display: flex;
    justify-content: space-between;
}

.taskArea .taskInfo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.taskArea .taskInfo i{
    font-size: 2rem;
}

.taskInfo .actual{
    display: block;
}

.taskDurations{
    display: flex;
    gap: 10px;
}

.taskDurations select{
    border: none;
    appearance: none;
    outline: none;
    width: 90px;
    background-color: transparent;
}

.taskDurations select option{
    padding: 30px;
    text-align: center;
    width: 50px;
}

.ticker{
    width: 30px;
    height: 30px;
}

.ticker:hover{
    color: var(--primary-color);
}

.tickerTitle{
    background: transparent;
    font-weight: 500;
    font-size: 25px;
    /* margin-top: 10px; */
}

.taskArena textarea{
    background-color: transparent;
    margin-bottom: 10px;
}

.divider{
    background-color: rgba(128, 128, 128, 0.418);
    height: 1px;
}

.edit-calendar-container{
    border-radius: 4px;
    position: absolute;
    background: var(--body-color);
    width: 250px;
    padding: 10px 5px;
    box-shadow: -2px 2px 6px #7373739c;
    border: 1px solid var(--layout-border);
}

.edit-calendar-container .calendar {
    width: unset !important;
    flex-direction: column;
    padding: 10px 15px;
}

.delete-task{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.edit-task-modal i{
    font-size: 1.2rem;
    color: var(--icon-color);
}

.edit-task-modal .add-task-date{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.edit-task-modal input{
    background: transparent;
    outline: none !important;
    border: none !important;
    /* padding: 5px 10px; */
    text-align: center;
    color: var(--text-color);
}

.container.completed {
    opacity: 0.5;
}

.save-task-btn{
    outline: none;
    border: none;
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 7px;
    color: white;
}

.edit-category-container{
    border-radius: 4px;
    position: absolute;
    background: var(--body-color);
    width: 250px;
    padding: 10px 5px;
    box-shadow: -2px 2px 6px #7373739c;
    border: 1px solid var(--layout-border);
}

.confetti-container{
    position: absolute;
    top: -30%;
    z-index: 100;
}



@media screen and (max-width: 800px) {
    body{
        /* background-color: red; */
    }
    .darkBg{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 0;
        width: 73%;
        margin-top: -30%;
        margin-left: -20%;
    }
    .centered{
        /* height: 500px; */
        width: 70%;
    }
    .edit-task-modal .taskArea{
        margin-top: 1.5rem;
        display: block;
    }
    .taskDurations{
        margin-left: 85%;
    }
    .modalI{
        font-size: smaller;
    }
}


@media screen and (max-width: 500px) {
    body{
        /* background-color: red; */
    }
    .darkBg{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 0;
        width: 83%;
        margin-top: -60%;
        margin-left: -12%;
    }
    .centered{
        /* height: 500px; */
        width: 77%;
    }
    .edit-task-modal .taskArea{
        margin-top: 1.5rem;
        display: block;
    }
    .taskDurations{
        margin-left: 82%;
    }
    .modalI{
        font-size: smaller;
    }
}


@media screen and (max-width: 400px) {
    body{
        /* background-color: red; */
    }
    .darkBg{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 0;
        width: 70%;
        margin-top: -43%;
        margin-left: -21.5%;
    }
    .centered{
        /* height: 500px; */
        width: 75%;
    }
    .modalI{
        font-size: smaller;
    }
    .taskDurations{
        margin-left: 75%;
    }
}


