main{
    width: 100%;
}

.layout-root{
    background-color: var(--body-color);
    height: 100vh;
    /* width: 100%; */
    /* overflow-x: hidden; */
    /* transform: translateX(255px); */
}

.main-layout{
    transform: translateX(230px);
    border-left: 1px solid var(--layout-border);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* background: red; */
}

.main-layout .control{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.control-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
}

.main-layout .control h3 b{
    color: var(--category-color)
}

.toogle-main{
}

.un-toogle-main{
    transform: translateX(0);
}

.control{
    padding: 1rem 0;
    padding-left: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid var(--layout-border);
    color: var(--text-color)
}

.control i{
    font-size: 20px;
    /* color: var(--primary-color); */
}

.layout-weather{
    background: var(--body-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    box-shadow: -1px -1px 11px #000000b0;
    height: 100vh;
    transform: translateX(110%);
}

.status-filter{
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.main-account{
    position: absolute;
    top: 1.5%;
    right: 4.5%;
}

.main-account span{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    border-radius: 100%;
    padding: 17px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.587);
    background: orange;
}

.manage-integration{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.integration-board-position{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 270px;
    right: 3.4%;
    transition: right 0.4s ease-in-out;
    box-shadow: -1px 0px 10px #00000042;
}

.integration-board-position.open {
    right: -100%;
}

@media (max-width: 1000px){
    .weather-bar-container{
        display: none !important;
    }
}

@media (max-width: 800px){
    .status-filter{
        display: none !important;
    }
}