main{
    width: 100%;
}

.layout-root{
    background-color: var(--body-color);
    height: 100vh;
    /* width: 100%; */
    /* overflow-x: hidden; */
    /* transform: translateX(255px); */
}

.main-layout{
    transform: translateX(250px);
    border-left: 1px solid var(--layout-border);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    /* background: red; */
}

.main-layout .control{
    display: flex;
}

.main-layout .control h3 b{
    color: var(--category-color)
}

.toogle-main{
}

.un-toogle-main{
    transform: translateX(0);
}

.control{
    padding: 1rem 0;
    padding-left: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid var(--layout-border);
    color: var(--text-color)
}

.control i{
    font-size: 20px;
}

.layout-weather{
    background: var(--body-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    box-shadow: -1px -1px 11px #000000b0;
    height: 100vh;
    transform: translateX(110%);
}